.boxHeader {
  background-color: rgba(13, 13, 13, 0.557);
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  overflow: hidden;
}

.cabecera {
  top: 0px;
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px;
}

.logo {
  width: 250px;
  height: 125px;
}
